.timehead{
    font-family:digiclock;
    font-size: 500%;
    text-shadow: 1px 0px 16px rgba(0, 0, 0, 1);  
}

#savebtn{
    margin-left: 5px;
    border-radius: 20px;
    list-style-type: none;
    background:linear-gradient(to bottom, #3177E7 5%, #0345AF 100%);
    border: 5px outset #00284d;
    color:#ffffff;
    text-align:center;
    padding:10px;
    font-family:Hammersmith;
    font-size:20px;
    text-decoration: none;
    margin-top:5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out; 
    transition-delay: .0.02s
}
#savebtn:hover{
    background:linear-gradient(to bottom, #4FEB25 5%, #2A9E0B 100%);
    transform: scale(1.2);
}

#savebtn:active{
    background:linear-gradient(to bottom, #2A9E0B 5%, #4FEB25 100%);
}

#savebtn:focus{
    outline: none;
}

.allpresent{
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 80%;
    list-style-type: none;
    background:linear-gradient(to bottom, #3177E7 5%, #0345AF 100%);
    border: 5px outset #00284d;
    color:#ffffff;
    text-align:center;
    padding:10px;
    font-family:Hammersmith;
    font-size:20px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out; 
    transition-delay: .0.02s
}
.allpresent:hover{
    background:linear-gradient(to bottom, #5C21FA 5%, #300A98 100%);
    transform: scale(1.2);
}

.allpresent:active{
    background:linear-gradient(to bottom, #300A98 5%, #5C21FA 100%);
}

.allpresent:focus{
    outline: none;
}

.bckbtn{
    height: 70px;
    width: 70px;
    list-style-type: none;
    background:linear-gradient(to bottom, #3177E7 5%, #0345AF 100%);
    border: 5px outset #00284d;
    border-radius:50%;
    color:#ffffff;
    text-align:center;
    font-family:Hammersmith;
    font-size:20px;;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 78%;
    padding-left: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out; 
    transition-delay: .0.02s
}
.bckbtn:hover{
    transform: scale(1.2);
    background:linear-gradient(to bottom, #0F76DC 5%, #004d99 100%);
}

.bckbtn:active{
    background:linear-gradient(to bottom, #004d99 5%, #0F76DC 100%);
}

.bckbtn:focus{
    outline: none;
}

.inline{
    display: inline-block;
}

table, th, td{
    position: static;
    font-family: Golden Ratio;
    margin: 0 auto;
    color: #ffffff;
    border: hidden;
    border-spacing: 0px 5px;
    text-align: center;


}
th{
    border-spacing:;
    padding: 20px 50px 20px 50px;
    text-align: center;
    color:#ffffff;
    font-family: Golden Ratio;
    font-size: larger;
    background:linear-gradient(to bottom, #2C3646 5%, #060E1B 100%);

}
td:nth-of-type(1){
    font-size: 20px;
    text-align: center;
    padding:20px 165px 20px 165px;
}
td:nth-of-type(2){
    font-size: 20px;
    text-align: center;
    padding: 20px 50px 20px  50px;
}
td:nth-of-type(3), td:nth-of-type(4){
    padding: 20px 50px 20px 50px;
}

tr{ 

    background:linear-gradient(to bottom, #004d99 5%, #041837 100%);

}
tsr{
    background:linear-gradient(to bottom, #378de5 5%, #2C3E50 100%);
}

.status-btn{
    border: 3px outset #A3E4D7;
    color:#ffffff;
    text-align:center;
    padding:6px;
    font-family: arial;
    font-size:large;
    display:inline-block;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
    text-shadow:2px -1px 14px #0a183d;
    border-radius:18px;
    cursor: pointer;
}

td:nth-of-type(4) .status-btn{
    background:linear-gradient(to bottom, #3177E7 5%, #0345AF 100%);
}

td:nth-of-type(4) .status-btn:hover{
    background:linear-gradient(to bottom, #F79A3D 10%, #D16C07 100%);
}

td:nth-of-type(4) .status-btn:active{
    background:linear-gradient(to bottom, #D16C07 5%, #F79A3D 100%);
}

td:nth-of-type(3) .status-btn{
    background:linear-gradient(to bottom, #3177E7 5%, #0345AF 100%);
}

td:nth-of-type(3) .status-btn:hover{
     background:linear-gradient(to bottom, #F3493E 5%, #C31005 100%);
}

td:nth-of-type(3) .status-btn:active{

     background:linear-gradient(to bottom, #C31005 5%, #F3493E 100%);
}


td:nth-of-type(3) .status-btn:focus, td:nth-of-type(4) .status-btn:focus {
    outline: none;
}
     

    
input[type=number]{
        width: 45px;
        height: 35px;
        margin-left: 5px;
        border-radius: 7px;
        font-family: digiclock;
        text-align: center;
        font-size: x-large;
        color:#B45507;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
    background-color: #0B0E31;
    color: black;
    opacity:1;
} 
.absent1:disabled{
        background-color:#ffffff;
}

input[type=number]:disabled {
    display: none ;
    
}
td:nth-of-type(4) .status-btn:disabled, td:nth-of-type(3) .status-btn:disabled {
     background:linear-gradient(to bottom, #42484F 5%, #777D84 100%);
}



@font-face{
    font-family: Golden Ratio;
    src: url("../fonts/golden-ratio/GoldenRatio.ttf");
}

@font-face{
    font-family: Hammersmith;
    src:url("../fonts/Hammersmith.ttf");
}
@font-face{
    font-family: plusSvn;
    src: url(../fonts/plus7/plus_7.ttf);
}

@font-face{
    font-family: infinity;
    src: url(../fonts/infinity/Infinity.ttf);
}

@font-face{
    font-family: digiclock;
    src: url(../fonts/digital-dismay/DigitalDismay.otf);
}